.App {
  border:2px solid rgb(140, 37, 37);
  padding:5px;
  margin:5px
}
.App1{
  margin:3px;
  padding:3px;
  background-color: rgb(46, 177, 46);
}
.App2{
  margin:3px;
  padding:3px;
  background-color: rgb(213, 57, 57);
}
.input{
  margin:2px;
  padding:2px;
}